In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("BNP.PA.csv")

In [6]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,336.000000,336.000000,336.000000,336.000000,336.000000,3.360000e+02
mean,56.157277,56.776443,55.572455,56.195074,54.256266,3.069293e+06
std,5.078486,5.068250,5.126271,5.082502,5.696004,1.606424e+06
min,41.779999,42.555000,41.525002,42.345001,39.585678,9.658850e+05
25%,53.699999,54.072501,52.799999,53.360000,49.882907,2.193054e+06
50%,56.975001,57.535000,56.475001,56.984999,55.950001,2.732182e+06
75%,59.515000,59.995001,58.925000,59.552499,58.519998,3.354985e+06
max,65.650002,67.019997,65.339996,66.150002,63.090000,1.304715e+07